<template name="wait">
  <div id="wait">
    <div class="row ">
      {{> heading}} 
    </div>        
    {{#if isSmartphone}}
      <div class="col-xs-12 col-sm-12 col-md-12 text-center text-warning">
        {{currentUrl}}
      </div>
      <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-8 col-sm-8 col-md-8 text-center">
        <h4>Type this URL in your browser.</h4>
        <h4>Use Chrome for best experience.</h4>
      </div>      
    {{else}}    
      <div class="col-xs-offset-2 col-xs-4  col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 text-center">
        <img src="{{imageSrc}}"  class="img-responsive  center-image" rel='nofollow' alt='QR code' />
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <h4>Scan QR-Code with your phone.</h4>
        <h4>Use Chrome for best experience.</h4>
      </div>
    {{/if}}    
  </div> 
</template>