<template name="showCanvas">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">     
        <button id="bLeft" type="button" class="btn-warning btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-left"></span></button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <button id="bTop" type="button" class="btn-warning btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-up"> </span></button>
        <button id="bDown" type="button" class="btn-warning btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-down"> </span></button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <button id="bRight" type="button" class="btn-warning btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-right"> </span></button>
      </div>
    </div>  
</template>