<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script> 
  
  <script type="text/javascript" src="/game/desktop/javascript/gl-matrix.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/webgl-utils.js"></script> 
  
  <script type="text/javascript" src="/game/desktop/javascript/controller.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/figure.js"></script>   
  <script type="text/javascript" src="/game/desktop/javascript/keyboardInput.js"></script>     
  <script type="text/javascript" src="/game/desktop/javascript/gameModel.js"></script>   
  <script type="text/javascript" src="/game/desktop/javascript/view_stone.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/view_playfieldborder.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/view_background.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/view_text.js"></script> 
  <script type="text/javascript" src="/game/desktop/javascript/view.js"></script> 
  
  <script type="text/javascript" src="/game/smartphone/rotateListener.js"></script> 

  <title>Bicobic</title>
</head>

<template name="layout">
  <header role="banner">
  </header>
  
  <div class="fill"> 
    {{{yield}}}
  </div>  
  
  <footer>
  </footer>  
</template>
  